*{
	margin: 0;
	padding: 10;
	font-family: Verdana;
	border:0;
}


.navbar{
	float: right;}


.navbar{
	margin: auto;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:0 20px;
	position: relative;

}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #1697e2;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: 0.4s;
}
.navbar ul li:hover::after{
	width: 100%;
}
.logo{
	width: 100px;
	cursor: pointer;
	position:  relative;
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: rgb(255, 255, 255);
}
.content h1{
	font-size: 70px;
	margin-top: 80px; 
}
.content p{
font-family: sans-serif;
	margin: 10px 100px;
	font-weight: 100;
}

button {
	width: 350px;
	height: 40px;
	font-size: 17px;
	border-radius:50px;
	border: 2px solid #1697e2;
	background: transparent;
	color: black;
	margin-top: 50px ;
	
	
}

input{
	background-color: white;
    border: none;
	color: black;
}

select{
	background-color: white;
    border: none;
	color: gray;
}
.tt{
	box-shadow: 2px 15px 25px 5px rgb(109, 109, 109);
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 10px;
	
	
}
#fr{
	border-bottom-left-radius: 10px;
	
}




td{
	
	height: 50px;
	
}

#book{
	border: none;
	font-size: 30px;
	font-family: Verdana;
	background-color: #ffffff;
	border-radius: 10px;
	color: black;
}
button:hover
{
	cursor: pointer;
	background-color:#1697e2;
	transition: 0.6s;
}
::placeholder{
	color: black;
}
body{
	background-color: #afc7ce;
}
