*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	display: flex;
	
	align-items: center;
	flex-direction: column; 
	height: 100vh;
}
form{
	margin-top: 50px;
	text-align: center;
	color: white;
}
input{
	display: block;
	width: 350px;
	height: 40px;
	margin: 15px;
	border: none;
	outline: none;
	font-size: 15px;
	border-bottom: 1px solid black;
	background: transparent;
	color: white;
}
button {
	width: 350px;
	height: 40px;
	font-size: 17px;
	border-radius:50px;
	border: 1px;
	background: transparent;
	color: white;
	
}
button:hover
{
	cursor: pointer;
	background-color: #009688;
	transition: 0.6s;
}
::placeholder{
	color: white;
}
datalist{
	border-radius: 80px; 
	transition: 0.6s;
	background: white;
}
/* footer area */

footer {
    position: relative;
    bottom: 0;
}

.footer-left h3 img {
    width: 50%;
    display: flex;
    padding: 0%;
    margin: 0%;
}

.footer-distributed {
    top: auto;
    position: relative;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px sans-serif;
    padding: 25px 50px;
    margin-top: auto;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: normal;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: auto;
    font-size: 17px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #009688;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    font-size: 15px;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 42px;
    margin-right: 3px;
    margin-bottom: 2px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }


}
